# Whether to bypass the google auth to use a dummy user (for local development)
BYPASS_AUTHENTICATION=

# The URL for the authentication service at Hackney
GSSO_URL=

# The name of the cookie where the authentication JWT is stored
GSSO_TOKEN_NAME=

# The shared secret used for validating the JWT
HACKNEY_JWT_SECRET=

# The name of the Google Group to be given access to the app
AUTHORISED_GROUP=

# The base URL of the app
REDIRECT_URL=
