@import 'node_modules/lbh-frontend/lbh/all';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap');

* {
  font-family: Open Sans, Arial, sans-serif !important;
  box-sizing: border-box;
}

* + * {
  margin-top: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

[role='button'] {
  cursor: pointer;
}

.govuk-tag:not([class*='govuk-tag--']) {
  background-color: #00513f;
}

.govuk-required {
  color: #d21b1b;
}

.lbh-table-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cancel-icon {
  width: 20px;
  height: 20px;
  top: 5px;
  position: relative;
  cursor: pointer;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  height: 65vh !important;
  width: auto !important;
  border: 1px solid #dee0e2;
}

.react-pdf__Page__annotations.annotationLayer {
  height: 0;
}

.page-controls button {
  background-color: transparent;
  border: none;
}

.page-indicator {
  text-align: center;
  padding: 10px 0;
}

.lbh-page-announcement__title {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.govuk-form-group.lbh-form-group {
  margin: 16px auto;
}

.govuk-date-input__label {
  margin: 0;
}

.govuk-fieldset__legend:not(.govuk-fieldset__legend--m):not(.govuk-fieldset__legend--l):not(.govuk-fieldset__legend--xl)
  + .govuk-hint {
  margin-bottom: 0;
}

.govuk-radios__item {
  margin-bottom: 4px;
}

.radios-label-extra-margin {
  margin-bottom: 10px;
  margin-bottom: 0.6rem;
}

.lbh-form-group .govuk-label.govuk-date-input__label {
  margin-top: 0px;
}

.govuk-summary-list__key {
  width: 50%;
}

.govuk-summary-list__value {
  width: 50%;
}

.govuk-summary-list__value:last-child {
  width: 50%;
}

.text-align-right {
  text-align: right;
}

.btn-smaller {
  padding: 0.4rem 0.9rem 0.3rem;
  width: 160px;
  font-size: 1rem;
}

.hover-darker-grey:hover {
  background-color: lbh-colour(lbh-grey-2);
}

.govuk-summary-list__value:last-child.edit-column {
  width: 10%;
}
